{
  "sourceMap": true,
  "instrument": true,
  "report-dir": "coverage",
  "include": [
    "src/**/*.ts"
  ],
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ]
}